.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ball{
    position: relative;
    background: lightblue;
    height: 100vh;
    .wrap{ 
        position: absolute;
        left: 0;
        bottom: 0;
        background: gold;               
        animation: wrap_ball 9s  linear infinite ;
    }
   
    .inner{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: red;
        position: absolute;        
        left: 50px;
        animation: ball 1s  linear infinite ; 
        
    }    
}
@keyframes wrap_ball{
    from{
        top: 0%;
    }
    to{
        top: 100%;
    }
}

@keyframes ball{
    0% { bottom: 100%; }
  25% { bottom:0; width:100px; height:100px; }
  30% { bottom:0; width:110px; height:60px; }
  40% { bottom:0; width:100px; height:100px; }  
  100% { bottom:100%; }
}

.square{
    position: relative;
    background: lightgreen;
    height: 100vh;
    
    div{
        width: 100px;
        height: 100px;
        position: absolute;
        top:0;
        left:0;
        background: red;
        animation: square 7s  linear infinite ;
    }
}
@keyframes square{
    0%{
        width: 100px;
        height: 100px;
        top: 0;
        left:0;
        background: red; 
    }
    13%{
        width: 1px;
        height: 100px;
        top: 0;           
        left:100px;
        background: red;  
    }
    26%{
        width: 100px;
        height: 100px;
        top: 0;
        left:100px;       
        background: yellow;  
    }
    39%{
        width: 100px;
        height: 1px;
        top: 100px;
        left:100px;
        background: yellow; 
    }
    52%{
        width: 100px;
        height: 100px;
        top: 100px;
        left:100px;
        background: green; 
    }
    65%{
        width: 1px;
        height: 100px;
        top: 100px;
        left:100px;
        background: green;   
    }
    78%{
        width: 100px;
        height: 100px;
        top: 100px;
        left:0;
        background: blue;  
    }
    91%{
        width: 100px;
        height: 1px;
        top: 100px;
        left:0;
        background:blue; 
    }


}

